*{
font-family: 'Abhaya Libre', serif;
width:100%;
}	
.loginform
{
    background-color: light blue;
	width:40%;
}
fieldset
{
	padding:0.10%;
}
@media only screen and (min-width:0px) and (max-width:320px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (min-width:321px) and (max-width:480px) {
    body {
        background-color: lightblue;
    }
}
	@media only screen and (min-width:481px) and (max-width:768px) {
    body {
        background-color: lightblue;
    }
}
